/* External CSS */

body {
  /* Body er en CSS selector*/
  /*{}indikerer CSS declaration*/
  /* Propaty: value; som er en CSS rule*/
  background-color: rgb(35, 239, 232);
}

ul {
  display: flex;
  justify-content: end;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* id-navn selector */

<section class="FirstSecion">
<div class="card">
.firstSecion {

}
 .card { 
         width: 300px;
         height: 300px;
         border: 2px solid black;
       }

 .img

.cardText {
  width 50%
-ms-flex-align: ;

}

 .cardImg: {
 width 50%
      }

.cardLink: {
  display: flex;
  Gap: 10px;
  margin

}